#app-container {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.App-text {
  font-size: 13px;
  line-height: 1.4;
  color: #0f172a;
}
